<div class="card my-5">
  <div class="card-body">
    <form [formGroup]="editFrom" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName" [(ngModel)]="contact.firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName" [(ngModel)]="contact.lastName">
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" [(ngModel)]="contact.phoneNumber">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" [(ngModel)]="contact.email">
      </div>
      <div class="form-group">
        <label for="birthday">Birthday</label>
        <input type="date" class="form-control" id="birthday" formControlName="birthday" [(ngModel)]="contact.birthday">
      </div>
      <div class="form-group">
        <label for="socialProfile">Social Profile</label>
        <input type="text" class="form-control" id="socialProfile" formControlName="socialProfile" [(ngModel)]="contact.socialProfile">
      </div>
      <button type="submit" class="btn btn-primary">Save Contact</button>
    </form>
  </div>
</div>
