<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">Email</label>
        <input [(ngModel)]="email" name="email" id="email" class="form-control" placeholder="Enter email" type="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input [(ngModel)]="password" name="password" id="password" class="form-control" placeholder="Password" type="password" required>
      </div>
      <div class="button-group">
        <button name=login type="submit" class="btn btn-primary">Login</button>
      </div>
      <p></p>
      <p>Don't have an account?
        <button (click)="register()" class="btn btn-link">Register here</button>
      </p>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    </form>
    <p><strong>Application stack:</strong></p>
    <ul>
      <li>Java</li>
      <li>Spring MVC</li>
      <li>Spring Data JPA</li>
      <li>Spring Security</li>
      <li>Hibernate ORM</li>
      <li>PostgreSQL</li>
      <li>JUnit 5</li>
      <li>Bootstrap</li>
      <li>Angular</li>
    </ul>

    <p>The TelefoneBook application is a web-based address book that allows users to manage their contacts. Built using Java, Spring MVC, Spring Data JPA, Spring Security, Hibernate ORM, PostgreSQL, JUnit 5, Bootstrap, and Angular, this application provides a comprehensive solution for storing and organizing contact information.</p>

    <p>Users can create, read, update, and delete their contacts using a REST API. The backend is built using Java and Spring technologies, with Hibernate ORM providing the data access layer. PostgreSQL is used as the database for persistent storage.</p>

    <p>The frontend of the application is built using Bootstrap and Angular, providing a responsive and user-friendly interface for managing contacts. Spring Security is used to secure the application, providing user authentication and authorization.</p>

    <p>JUnit 5 is used for unit testing, ensuring that the application's components are functioning correctly. This application is suitable for individuals or organizations looking for a comprehensive solution for managing contact information.</p>
  </div>
</div>

